<configuration>
  <packageSources>
    <clear />
    <add key="nuget-v3-hosted" value="http://localhost:8081/repository/nuget-hosted/index.json" />
  </packageSources>
  <apikeys>
    <add key="http://localhost:8081/repository/nuget-hosted/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7wuR3DpBo0u48lXE8gd/bAAAAAACAAAAAAAQZgAAAAEAACAAAADopDAchn6azvSX9x1aJSNqBAoRxY8eHCO6Qd6pD+14nAAAAAAOgAAAAAIAACAAAACcA99gY4XigCHsNBt5O30sxjiFtBkDEwrKTGm2ZBRtbzAAAAB+yPOXtXys49XmRBeVW8QOIMhdPA0JLMiY/gssCrVNqPl1zYUJHfUda+sbNrchyJlAAAAADJiNntqELL9+kpn+zfnKgIkloY8vhAUFGCHBLiXQGhW2edLpE0hv9qwwwbaeEJW7va/3GaaSp3C02Xb2ah/AdQ==" />
  </apikeys>
</configuration>
